*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div .swiper {
  padding-top: 50px;
  margin-top: 8% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1C;;
  display: flex ;
  justify-content: end;
  align-items: center;
  position: relative;
}
/* here ya mazen */
.card{
  background-color: transparent;
  max-width: 320px;
  padding-top: 20px;
  padding-left: 20;
  padding-right: 20;
  padding-bottom: 50px;
  width: 100%;
  border-radius: 10px;
  display: flex ;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  color: #fff;
  margin: 0 30px;
  transition: 0.3s ease-in-out;
  transition-duration: 0.5s;
  position: relative;
  /* margin-top: 20px; */
  cursor: pointer;
}

/* @media (max-width: 1080px) {
  *{
    font-size: 5px;
  }
} */

.card img {
  max-width: 280px;
  width: full;
  transition: 0.5s;
  margin: 30px 0;
}

.card:hover {
  transform: scale(1.2);background: rgb(82,82,156);
  background: linear-gradient(174deg, rgba(82,82,156,1) 20%, rgba(255,255,255,1) 100%);
}

.card h1 {
  color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.card:hover .card h1 {
  color: #000;
}

.card:hover img{
  transition: 0.5s;
  transform: scale(1.5);
  transition-delay: 0.3s;
}

.backname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-180%);
  font-size: 115px;
  font-weight: 700;
  color: #2a304c;
  display: none;
  z-index: -99;
}

.card:hover .backname {
  display: block;
}
.controler-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.card .controler-btns button {
  padding: 10px;
  background-color: #615DC5;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  color: #fff;
  font-weight: 200;
}

.card:hover .controler-btns button:nth-child(1){
  background-color: #ff534d;
}

.price-add {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
}

.card:hover .price-add{
  opacity: 1;
}

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* margin-right: 50px; */
}

.price span {
  color: #838795;
  font-size: 14px;
}

.price p {
  color: #615DC5;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* .active {
  margin-right: 1000px;
  scale: 1.2;
}

.active {
  transform: scale(1.2);
  background: #3F4870;
}
.active img{
  transition: 0.5s;
  transform: scale(1.3);
}
.active .backname {
  display: block;
}
.active .price-add{
  opacity: 1;
} */

.bolb{
  position: absolute;
  top: 50%;
  left:50%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  opacity: 0.5;
  background: #201F46;
  filter: blur(50px);
}
#bolb1{
  z-index: -1;
  top: 0;
  left:0;
  width: 600px;
  filter: blur(100px);
  height: 600px;
  transform: translate(-40%,-10%);
}
#bolb2{
  z-index: -1;
  bottom: 0;
  right:0;
  width: 600px;
  filter: blur(100px);
  height: 600px;
  transform: translate(50%,0%);
}

div .swiper-wrapper {
  padding: 50px 0;
}

@media only screen and (max-width: 1000px) {
  .price-add{
    flex-direction: column;
  }
  .price{
    align-items: center;
    text-align: center;
    gap:10px;
    margin-bottom: 5px;

  }
  .card:hover {
    transform: scale(1.01);
  }
  .card:hover img{
    transform: scale(1.8);
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100vw;
  background-color: #1A1A1C;
}

.login-content {
  text-align: center; /* Center content within the content div */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  z-index: 999;
}

.login-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.login-content form h1{
  color: #fff;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;

}
.login-content form input {
  max-width: 390px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  color: #fff;
  font-weight: 200;
  background-color: #FFF;
}
.login-content form button{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  outline: none;
  color: #fff;
  font-weight: 200;
  background-color: #615DC5;
}

.social-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-icon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #1C1F22;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* font-size: 50px; */
  padding: 10px;
}

.social-icon:hover{
  background-color: #615DC5;
}

#bolb3 {
  top: 0;
  left: 0;  
  z-index: 0;
  filter: blur(120px);
  width: 400px;
  height: 400px;
  background-color: #398CC0CC;
  transform: translate(80%, 60%);
}
#bolb4 {
  bottom: 0;
  right: 0;
  z-index: 0;
  filter: blur(120px);
  width: 400px;
  height: 400px;
  background-color: #19176C;
  transform: translate(16%, -70%);
}
@media only screen and (max-width: 1000px) {
  .login-container {
    padding: 0 10px;
  }

  .login-content {
    width: 90%;
  }

}
/* Add your other styles as needed */
